.hospital_link {
    text-decoration: none;
}

.default_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .default_table td, .default_table thead {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .default_table tr:nth-child(even){background-color: #f2f2f2;}
  
  .default_table tr:hover {background-color: #ddd;}
  
  .default_table thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1e90ff;
    color: white;
  }